<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diana's Page</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
<header>
    <h1>Meet Diana</h1>
</header>
<nav>
    <ul>
        <li><a href="">Diana</a></li>
        <li><a href="valeriia.html">Valeriia</a></li>
        <li><a href="maksym.html">Maksym</a></li>
        <li><a href="Yurii.html">Yurii</a></li>
    </ul>
</nav>
<main>
    <section>
        <img src="img/diana.jpg" alt="Diana's Photo">
        <h2>Diana Grytsyna</h2>
        <p>
            Diana is a talented and creative individual who loves exploring the world through code. She is passionate about capturing the beauty of nature and everyday life.
        </p>
    </section>
</main>
<footer>
    <p>&copy; 2023 Diana's Page</p>
</footer>
</body>
</html>
