<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Valeriia's Page</title>
  <link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
<header>
  <h1>Meet Valeriia</h1>
</header>
<nav>
  <ul>
    <li><a th:href="@{/}">Diana</a></li>
    <li><a th:href="@{/valeriia}">Valeriia</a></li>
    <li><a th:href="@{/maksym}">Maksym</a></li>
    <li><a th:href="@{/yurii}">Yurii</a></li>
  </ul>
</nav>
<main>
  <section>
    <img src="img/valeriia.jpg" alt="Valeriia's Photo">
    <h2>Valeriia Radzivilo</h2>
    <p>
      Valeriia is a talented and creative individual who loves exploring the world through code. She is passionate about capturing the beauty of nature and everyday life.
    </p>
  </section>
</main>
<footer>
  <p>&copy; 2023 Valeriia's Page</p>
</footer>
</body>
</html>
